   body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  label {
    color: white;
  }

  
   form {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    width: 20%;
    position: absolute;
    left: 0;
    top: 90%;
    transform: translateY(-50%);

  }


    input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    background-color: #b7b7b7; /* change this to the desired color */
    }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  }
  
  input[type="submit"] {
    background-color: black;
    color: rgb(211, 206, 206);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  }
  
  input[type="submit"]:hover {
    background-color: rgb(211, 211, 211);
    color: black;
  }
  
  #art {
    width: 100%;
    height: 100%;
  }
 