<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Document</title>

        <link rel="stylesheet" type="text/css" href="../static/style.css">

        
        <script src="../static/libraries/p5.min.js"></script>
        <script src="../static/libraries/p5.sound.min.js"></script>
        <script src="../static/main.js"></script>
        <script src="path/to/p5.sound.js"></script>
<!---        <script src="../static/sketch.js"></script>  -->
       

        
    </head> 
    <body onload="dothis()"> 

<!---
    <h2>hello</h2>
    <div>
        <span id="temperature"></span>
    </div>
    <div id="myContainer"></div>
    <div id="location-form">
        <form>
          <input type="text" id="location-input" placeholder="Enter a location">
          <input type="submit" value="Go" onclick="loadWeatherData()">
        </form>
-->
    <div id="myContainer"></div>
    </body>

</html>
