<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Document</title>

        <script src="../static/libraries/p5.min.js"></script>
        <script src="../static/libraries/p5.sound.min.js"></script>
        <script src="../static/main.js"></script>
        
        
    </head> 
    <body onload="dothis()"> 

    <div id="myContainer"></div>
    <form id="countryForm">
        <label for="country"> Enter your Place:</label>
        <input type="text" id="country" name="country_value">
        <input type="submit" value="Submit">
      </form>
    </div>
  


    </body>

    <link rel= "stylesheet" type= "text/css" href="../static/form.css">

  

</html>
